<header class="header-public">
  <div class="header-public-container">
    <a routerLink="/home" class="header-public-logo">
      <div class="header-public-logo-icon">
        <img src="assets/images/networklab-logo.png" alt="NetworkLab" class="header-public-logo-img" />
      </div>
      NetworkLab
    </a>

    <ul class="header-public-nav-links">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/features">Características</a></li>
      <li><a routerLink="/how-it-works">Cómo Funciona</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
    </ul>

    <div class="header-public-auth">
      <a routerLink="/login" class="login-link">Iniciar Sesión</a>
      <a routerLink="/register" class="register-link">Crear Cuenta</a>
    </div>
  </div>
</header>
