<ion-footer>
  <ion-toolbar class="tabbar single">
    <div class="tabbar-inner">
      <ion-button class="side-button avatar-button" routerLink="/profile" fill="clear" aria-label="Perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>

      <ion-button class="side-button" routerLink="/services" fill="clear" aria-label="Servicios">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-button>

      <ion-button class="center-home" routerLink="/home" fill="solid" aria-label="Home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button class="side-button" routerLink="/marketplace" fill="clear" aria-label="Marketplace">
        <ion-icon name="bag-outline"></ion-icon>
      </ion-button>

      <ion-button class="side-button" routerLink="/settings" fill="clear" aria-label="Configuración">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
